#### Importing Processed file

In [137]:
import pandas as pd
import numpy as np

In [138]:
data=pd.read_csv("C:/Users/Dragneel/Desktop/AAP/loan 1.csv",low_memory=False)

In [139]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [140]:
data.head()

   loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  installment grade sub_grade emp_length home_ownership  annual_inc verification_status     issue_d  loan_status pymnt_plan         purpose                 title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal  revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt last_credit_pull_d  collections_12_mths_ex_med  policy_code application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  pub_rec_bankruptcies  tax_liens
0  5000       5000         4975.0            36 months  0.1065    162.87       B     B2        10+ years  RENT           24000.0     Verified            2011-12-01  Fully Paid   n          credit_card     Computer              860xx    AZ         27.65  0            1985-01-01       1               3         0        13648      0.837       9          f                   0.00       0.00           5863.155187   5833.84          5000.00          863.16         0.00                0.00        0.00                     2015-01-01   171.62           2016-05-01         0.0                         1            INDIVIDUAL       0               0.0                       0            0.0                   0.0
1  2500       2500         2500.0            60 months  0.1527    59.83        C     C4        < 1 year   RENT           30000.0     Source Verified     2011-12-01  Charged Off  n          car             bike                  309xx    GA         1.00   0            1999-04-01       5               3         0        1687       0.094       4          f                   0.00       0.00           1008.710000   1008.71          456.46           435.17         0.00                117.08      1.11                     2013-04-01   119.66           2013-09-01         0.0                         1            INDIVIDUAL       0               0.0                       0            0.0                   0.0
2  2400       2400         2400.0            36 months  0.1596    84.33        C     C5        10+ years  RENT           12252.0     Not Verified        2011-12-01  Fully Paid   n          small_business  real estate business  606xx    IL         8.72   0            2001-11-01       2               2         0        2956       0.985       10         f                   0.00       0.00           3005.666844   3005.67          2400.00          605.67         0.00                0.00        0.00                     2014-06-01   649.91           2016-05-01         0.0                         1            INDIVIDUAL       0               0.0                       0            0.0                   0.0
3  10000      10000        10000.0           36 months  0.1349    339.31       C     C1        10+ years  RENT           49200.0     Source Verified     2011-12-01  Fully Paid   n          other           personel              917xx    CA         20.00  0            1996-02-01       1               10        0        5598       0.210       37         f                   0.00       0.00           12231.890000  12231.89         10000.00         2214.92        16.97               0.00        0.00                     2015-01-01   357.48           2016-04-01         0.0                         1            INDIVIDUAL       0               0.0                       0            0.0                   0.0
4  3000       3000         3000.0            60 months  0.1269    67.79        B     B5        1 year     RENT           80000.0     Source Verified     2011-12-01  Current      n          other           Personal              972xx    OR         17.94  0            1996-01-01       0               15        0        27783      0.539       38         f                   524.06     524.06         3513.330000   3513.33          2475.94          1037.39        0.00                0.00        0.00                     2016-05-01   67.79            2016-05-01         0.0                         1            INDIVIDUAL       0               0.0                       0            0.0                   0.0

In [141]:
data.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_length                    1075
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
title                         12
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    50
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                  71
last_pymnt_amnt               0
last_credit_pull_d            2
collections_12_mths_ex_med    56
policy_code                   0
application_type              0
acc_now_delinq                0
chargeoff_within_12_mths      56
delinq_amnt                   0
pub_rec_bankruptcies          697
tax_liens                     39
dtype: int64

#### Filling And removing Null values

In [142]:
data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [143]:
data['emp_length'].fillna("0 Years",inplace=True)

In [144]:
data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', '0 Years'],
      dtype=object)

In [145]:
data['title'].fillna("UnKnown",inplace=True)

In [146]:
data['revol_util'].fillna(data['revol_util'].median(),inplace=True)

In [147]:
data.dropna(inplace=True)

#### Dropping non required columns

In [148]:
data.drop('application_type',axis=1,inplace=True)
data.drop('tax_liens',axis=1,inplace=True)
data.drop('chargeoff_within_12_mths',axis=1,inplace=True)
data.drop('acc_now_delinq',axis=1,inplace=True)
data.drop('delinq_amnt',axis=1,inplace=True)
data.drop('issue_d',axis=1,inplace=True)
data.drop('pymnt_plan',axis=1,inplace=True)
data.drop('zip_code',axis=1,inplace=True)
data.drop('initial_list_status',axis=1,inplace=True)
data.drop('collections_12_mths_ex_med',axis=1,inplace=True)
data.drop('policy_code',axis=1,inplace=True)

In [149]:
data.isnull().sum()

loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                      0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_d               0
last_pymnt_amnt            0
last_credit_pull_d         0
pub_rec_bankruptcies       0
dtype: int64

##### Saving Clean File

In [150]:
data.to_csv("C:/Users/Dragneel/Desktop/AAP/Loan 2.csv" , index=False)