In [1]:
import seaborn as sns

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("C:/Users/Dragneel/Desktop/AAP/Loan 2.csv")

In [4]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [5]:
data.head()

   loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  installment grade sub_grade emp_length home_ownership  annual_inc verification_status  loan_status         purpose                 title addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal  revol_util  total_acc  out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt last_credit_pull_d  pub_rec_bankruptcies
0  5000       5000         4975.0            36 months  0.1065    162.87       B     B2        10+ years  RENT           24000.0     Verified            Fully Paid   credit_card     Computer              AZ         27.65  0            1985-01-01       1               3         0        13648      0.837       9          0.00       0.00           5863.155187   5833.84          5000.00          863.16         0.00                0.00        0.00                     2015-01-01   171.62           2016-05-01         0.0
1  2500       2500         2500.0            60 months  0.1527    59.83        C     C4        < 1 year   RENT           30000.0     Source Verified     Charged Off  car             bike                  GA         1.00   0            1999-04-01       5               3         0        1687       0.094       4          0.00       0.00           1008.710000   1008.71          456.46           435.17         0.00                117.08      1.11                     2013-04-01   119.66           2013-09-01         0.0
2  2400       2400         2400.0            36 months  0.1596    84.33        C     C5        10+ years  RENT           12252.0     Not Verified        Fully Paid   small_business  real estate business  IL         8.72   0            2001-11-01       2               2         0        2956       0.985       10         0.00       0.00           3005.666844   3005.67          2400.00          605.67         0.00                0.00        0.00                     2014-06-01   649.91           2016-05-01         0.0
3  10000      10000        10000.0           36 months  0.1349    339.31       C     C1        10+ years  RENT           49200.0     Source Verified     Fully Paid   other           personel              CA         20.00  0            1996-02-01       1               10        0        5598       0.210       37         0.00       0.00           12231.890000  12231.89         10000.00         2214.92        16.97               0.00        0.00                     2015-01-01   357.48           2016-04-01         0.0
4  3000       3000         3000.0            60 months  0.1269    67.79        B     B5        1 year     RENT           80000.0     Source Verified     Current      other           Personal              OR         17.94  0            1996-01-01       0               15        0        27783      0.539       38         524.06     524.06         3513.330000   3513.33          2475.94          1037.39        0.00                0.00        0.00                     2016-05-01   67.79            2016-05-01         0.0

## Visualising

#### Related to loan_amount